*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 52, 197);
}

h1{

color: white;
font-size: 100x;

}

.home{
    text-align: center; 
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
.btn{
    border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.shock , .shock_end {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: #3337;
    display: none;
}

.shock img, .shock_end img{    
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.shock_end .exit_btn {
    position: absolute;
    height: 30px;
    width: 200px;
    top: 30px;
    right: 40px;
    background: rgb(233, 11, 11);
    border-radius: 5px;
    font-size: 16pt;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    z-index: 10;
}

.shock .exit_btn {
    position: absolute;
    height: 30px;
    width: 200px;
    top: 30px;
    right: 40px;
    background: rgb(233, 11, 11);
    border-radius: 5px;
    font-size: 16pt;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid white;
    z-index: 15;
}

svg{
    width: 100%;
    height: auto;
}

/* --------- Backend Purpose ---------- */



.body.grayed {
    fill: rgb(133, 133, 133)
}

.game_container {
    position: relative;
    background: rgb(145, 191, 234);
    height: auto;
    width: 70%;        
    cursor: url(../svg/cursor.png) 3 3, auto;
    padding: 50px 50px;
    margin: auto;
    border: 5px solid black;
}

.life_container{
    position: absolute;
    width: clamp(40px, 5vw, 150px);
    right: calc(100% + 15px);
    top: 50px
}

.life_container img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;
}

.life_container img.died {
    transform: translatey(50px);
    opacity: 0;
}

.game_container svg {
    display: none;
}

svg.show {
    display: block;
}

.game {
    fill: rgb(218, 218, 218) !important
}